# Python
__pycache__/
*.py[cod]
*.egg-info/
.dist/
build/
dist/

# Environments
.venv/
.env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
*.log



__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.pipeline.log
pipeline.log
docker/simcortexpp-env.tar.gz
simcortexpp_0.1.5.sif
outputResult.nii
outputResult.nii.gz


# Hydra outputs and execution logs
outputs/
.hydra/

# Local Docker build artifacts
docker/*.tar.gz
docker/*.tgz
docker/*.tar
